
nav {
  position: relative;
  z-index: 999;
}
.navbar {
  padding-left: 25%;
}

.navbar,
.dropdown-menu {
  background-color: #37ce8f;
  font-size: 14px;
}

.navbar-nav a {
  color: white;
}

.navbar-nav a:hover {
  color: #006f2e;
}

.navbar-brand {
  width: 35px;
}


footer {
  background-color: #37ce8f;
  margin-top: 50px;
  padding-top: 20px;
}

footer div .logo-berani-bicara {
  width: 80px;
}

footer div .logo-PPA {
  width: 40px;
}

.link-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.link-footer ul li a {
  padding-left: 15px;
  color: #2a2a2a;
  font-size: 13px;
}

.link-footer ul li a:hover {
  color: #00672b;
}

a {
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 5px;
}
.social-media a :hover {
  opacity: 0.5;
}

.end-footer {
  display: flex;
  justify-content: center;
}

.end-footer p {
  margin: 20px 10px;
  font-size: 13px;
  color: #2a2a2a;
}


@media (max-width: 768px) {
  .navbar {
    padding-left: 5%;
  }
}

@media (max-width: 576px) {
 .link-footer ul {
  display: block;
  text-align: center;
 }
}